body {
    background-image: url(night-1669609244670-2542.jpg);
    background-size: 100%;
  }
  p {
    color: black;
  }
  .item1{
    margin-block-start: auto;
margin-left: 8%;
margin-block-end: auto;
  }
.item2
{
  
 
  margin-block-end: auto;
  margin-left: 19%;
  margin-top: -23%;
}
.item3{
margin-left: 80%;
margin-top: -23%;
font-family: Papyrus;
color: whitesmoke;

}
.item4{
  margin-left:68%;
  margin-top: -5%;
  height: 496px;
  width: 380px;
  background: rgba(71, 228, 248, 0.5);
  border-radius: 20px;
}
.footer{
  margin-left: 5%;
  margin-top: -1%;
  
}
.klo{
  margin-left:3%;
  margin-top: -5%;
  height: 51px;
  width: 400px;
  background: rgba(230, 54, 54, 0.5);
  border-radius: 20px;
  
}
.fb{
  margin-left:12%;
  margin-top: -3.35%;
  height: 51px;
  width: 400px;
}
.youtub{
  margin-left:19%;
  margin-top: -3.80%;
  
}
.two{
  margin-left:25.80%;
  margin-top: -3.50%;
 
}

.s10{
  margin-left:71.30%;
  margin-top:-32%;
}

.csk{
  margin-left: 70.72%;
    width: 100px;
    height: 30px;
   
}
  
 
.s11{
  margin-left: 86%;
  margin-top:-8.50%;
}



.an1{
  margin-left: 86%;
    width: 100px;
    height: 30px;
}


.s12{
  margin-left: 71%;
  margin-top:8%;

}

.an13{
  margin-left: 71%;
  width: 100px;
  height: 30px;
}

.wh5{
  margin-left: 86%;
  margin-top:-8.50%;

}

.boy21{
  margin-left: 86%;
  width: 100px;
  height: 30px;
}